:root {
  --color-chocolate: #1d1a19;
  --color-brown: #624f40;
  --color-mustard: #b08f0f;
  --color-white: #ffffff;
}
html,
body {
  height: 100%;
}
body {
  font-size: 100%; /* Default is `16px` in most browsers */
  font-family: "Roboto", Helvetica, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  color: var(--color-white);
  background: var(--color-brown) url(../images/pattern.gif) repeat 0 0;
  background-size: 280px auto;
  display: flex;
  padding: 24px;
}
.card {
  max-width: 650px;
  margin: auto;
  box-shadow: 2px 2px 5px 2px rgb(0% 0% 0% / 10%);
}
header,
main {
  padding: 24px;
}
header {
  border-radius: 16px 16px 0 0;
  color: var(--color-white);
  background-color: var(--color-chocolate);
  display: flex;
  align-items: center;
  gap: 16px;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
.headshot {
  width: 100px;
}
.headshot img {
  border-radius: 50%;
  aspect-ratio: 1 / 1;
}
h1, h2, h3 {
  margin: 0;
  font-weight: 400; /* 700? */
  font-style: normal;
  line-height: 1.2;
}
h1 {
  font-size: 1.8rem;
}
h2 {
  font-size: 1.2rem;
  color: var(--color-mustard);
}
h3 {
  font-size: 1.6rem;
  color: var(--color-white);
}
main {
  border-radius: 0 0 16px 16px;
  color: var(--color-chocolate);
  background-color: var(--color-mustard);
}
P:first-child {
  margin-top: 0;
}
p:last-child {
  margin-bottom: 0;
}
.links {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}
.linkedin {
  width: 80px;
  display: block;
}
.linkedin img {
  aspect-ratio: 4.1 / 1;
}
.github {
  width: 70px;
  display: block;
}
.github img {
  aspect-ratio: 3.59 / 1;
}